<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('./components/head') %>
</head>
<body>
    
    <header>
        <h1> Pokédex </h1>
    </header>

    <%- include('./components/nav') %>

    <main>
        <section id = "card">
    
            <% pokedex.forEach((pokemon) => { %>
                <div class="card1">
                <img src="<%= pokemon.imagem %>" alt="">
                <h2><%= pokemon.nome %></h2>
                <p>Tipo: <%= pokemon.tipo %></p>
                <p><%= pokemon.descricao %></p>
                <a href="/getBid/<%= pokemon.id %>/put">Editar Pokemon</a>
                <a class="apague" href="/getBid/<%= pokemon.id %>/delet">Deletar</a>
                </div>
                <% }) %>
        
            </section>
    </main>

    <% if (pokemonPut != null) {%>
        <%- include('./components/modeloPut') %>
    <% } %>

    <% if (pokemonDel != null) {%>
        <%- include('./components/modeloDel') %>
    <% } %>

    <%- include('./components/footer') %>
    
    <style>
        .card1{
            transition: all 0.5s;
            cursor: pointer;
        }
        .card1:hover{
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    </style>
</body>
</html>